.base-grid {
    width: 100%;
    background-color: steelblue;
    display: flex;
}
.middle-panel {
    display: block;
    height: 532px;
    width: 75%;
}

.base-grid-title {
    margin-left: 1%;
    margin-right: auto;
    color: whitesmoke;
}

.base-receipt-line {
    display: flex;
}

.base-receipt-line:hover {
    display: flex;
    background-color: blue;
}

.base-receipt-line-item {
    display: block;
    width: 100%;
    margin-left: 1%;
    margin-right: auto;
}

.base-receipt-total {
    display: flex;
    width: 100%;
    background-color: steelblue;
}

.base-receipt-total-line {
    display: block;
    width: 100%;
    margin-left: 1%;
    margin-right: auto;
}

.right-panel {
    width: 25%;
    height: 532px;
    background-color: tan;
}
