.top-panel {
    width: 100%;
    height: 60px;
}

.left-top-panel {
    width: 75%;
    height: 100%;
    border: none;
    border-style: none;
    font-size: xxx-large;
}

.right-top-panel {
    width: 25%;
    height: 60px;    
    background-color: tan;
}